
<div id="maximage2">

	<div class="video">
    	<iframe width="100%" height=700 src="http://www.youtube.com/embed/8DMiUHVwr9A" frameborder="0" class="youtube-video" allowfullscreen></iframe>
	</div>

</div>
