<h1>CAOS contact</h1>


<section class='input-confirm'>

  <p> 送信内容 </p>

	<div id='input-form'>
	<dl>
	<dt>
	<p>	<%= @contact.name %></p>
	<p>	<%= @contact.email %></p>
	<p>	<%= @contact.tel %></p>
	<p>	<%= @contact.text %></p>
	</dt>

</dl>
</div>



